/* FILEPATH: /c:/Users/alvar/Documents/GitHub/estimazon_BBDD2/resources/css/app.css */

footer {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.product-image{
    max-width: 340px;
    max-height: 250px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: auto;
    display: block;
}

.row-height{
    height: 200px;
}
